<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Wearscript Playground</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!--(if target dev)><!-->
    <link rel="stylesheet/less" type="text/css" href="styles/main.less">
    <script>
      var less = {
        env:'development',
        async:true,
        fileAsync:false,
        poll:1000,
        dumpLineNumbers:"mediaQuery",
        logLevel: 0
      }
    </script>
    <script type="text/javascript" src="bower_components/less/dist/less-1.6.1.min.js"></script>
    <script type="text/javascript">less.watch()</script>
    <!--<!(endif)-->
    <!--(if target dist)>
    <link rel="stylesheet" href="styles/main.css">
    <!(endif)-->
  </head>
  <body
    data-ng-app="wearscriptPlaygroundApp"
    data-ng-class="{'menu-open': menu }"
    data-ng-cloak >
    <header>
      <a href="#"
         class="menu-button"
         data-ng-click="menu=!menu"
         data-ng-init="menu=true">Menu</a>
      <h1>Wearscript Playground</h1>
      <a ng-show="authenticated"
         href="#/profile">Profile</a>
      <a ng-hide="authenticated"
         href="#/login">Login</a>
    </header>
    <aside ng-show="menu">
      <nav>
        <ul>
          <li>
            <a data-ng-click='active=editor'
               ng-class="{'active': active==editor}"
               href="/">Editor</a>
          </li>
          <li>
            <a data-ng-click='active=setup'
               data-ng-class="{'active': active==setup}"
               href="#/setup">Setup</a>
          </li>
          <li>
            <a data-ng-click='active=sensors'
               data-ng-class="{'active': active==sensors}"
               href="#/sensors">Sensors</a>
          </li>
          <li>
            <a data-ng-click='active=data'
               data-ng-class="{'active': active==data}"
               href="#/data">Data</a>
          </li>
          <li ng-show="authenticated">
            <a data-ng-click='active=profile'
               data-ng-class="{'active': active==profile}"
               href="#/profile">Profile</a>
          </li>
          <li ng-hide="authenticated">
            <a data-ng-click='active=login'
               data-ng-class="{'active': active==login}"
               href="#/login">Login</a>
          </li>
        </ul>
      </nav>
    </aside>
    <div class="container" ng-view=""></div>

    <!-- build:js scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-ui-ace/ui-ace.js"></script>
    <script src="bower_components/less/dist/less-1.5.0.js"></script>
    <!-- endbower -->
    <script type="text/javascript" src="bower_components/ace-builds/src-min-noconflict/ace.js"></script>
    <script src="bower_components/msgpack-javascript/msgpack.js"></script>
    <script src="bower_components/reconnecting-websocket/reconnecting-websocket.js"></script>
    <!-- endbuild -->
        <script>WSURL = "{{.WSUrl}}";</script>
        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <script src="scripts/wearscript-client.js"></script>
        <script src="scripts/playground.js"></script>
        <script src="scripts/app.js"></script>
        <script src="scripts/controllers/main.js"></script>
        <script src="scripts/controllers/setup.js"></script>
        <script src="scripts/controllers/profile.js"></script>
        <script src="scripts/controllers/sensors.js"></script>
        <script src="scripts/controllers/data.js"></script>
        <script src="scripts/services/socket.js"></script>
        <script src="scripts/services/profile.js"></script>
        <!-- endbuild -->
  </body>
</html>
