<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Wearscript Playground</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/> <!--320-->
    <!--(if target dev)><!-->
    <link rel="stylesheet/less" type="text/css" href="styles/main.less">
    <script>
      var less = {
        env:'development',
        async:true,
        fileAsync:false,
        poll:1000,
        dumpLineNumbers:"mediaQuery",
        logLevel: 0
      }
    </script>
    <script type="text/javascript" src="bower_components/less/dist/less-1.7.0.min.js"></script>
    <script type="text/javascript">//less.watch()</script>
    <script>
      var port = (location.port != 80) ? ':' + location.port : '';
      WSURL = 'ws://' + location.host;
      GLASS_BODY = '{{.GlassBody}}';
    </script>
    <!--<!(endif)-->
    <!--(if target dist)>
    <link rel="stylesheet" href="styles/main.css">
    <script>
      WSURL = "{{.WSUrl}}";
      GLASS_BODY = '{{.GlassBody}}';
    </script>
    <!(endif)-->
  </head>
  <body
    data-ng-app="wearscriptPlaygroundApp"
    data-ng-class="{'menu-open': menu }"
    data-ng-cloak >
    <header>
      <a
         data-ng-click="menu=!menu"
         data-ng-init="menu=true"><i class="fa fa-bars"></i></a>
      <div ng-controller="HelpmodalCtrl">
          <a ng-click="open()"><i class="fa fa-ellipsis-v"></i></a>
      </div>
      <h1>Wearscript Playground</h1>
    </header>
    <aside data-ng-controller="SidenavCtrl" ng-show="menu">
      <nav>
        <ul>
          <li>
            <a data-ng-click='active=editor'
               ng-class="{'active': active==editor}"
               href="#/">Editor</a>
          </li>
          <li>
            <a data-ng-click='active=gists'
               data-ng-class="{'active': active==gists}"
               href="#/gists">Gists</a>
          </li>
          <li>
            <a data-ng-click='active=images'
               data-ng-class="{'active': active==images}"
               href="#/images">Images</a>
          </li>
          <li>
            <a data-ng-click='active=sensors'
               data-ng-class="{'active': active==sensors}"
               href="#/sensors">Sensors</a>
          </li>
          <li>
            <a data-ng-click='active=channels'
               data-ng-class="{'active': active==channels}"
               href="#/channels">Channels</a>
          </li>
          <li>
            <a data-ng-click='active=setup'
               data-ng-class="{'active': active==setup}"
               href="#/setup">Setup</a>
          </li>
          <li>
            <a data-ng-click='active=help'
               data-ng-class="{'active': active==help}"
               href="#/help">Help</a>
          </li>
        </ul>
        <div class="col-xs-12">
          <div class="row">
            <!-- under nav icons -->
            <div data-ng-controller="HelpmodalCtrl" class="col-xs-12 text-center">
              <a href="" data-ng-click="open('shortcuts')" title="Keyboard Shortcuts"><i class="fa fa-keyboard-o fa-2x"></i></a>
            </div>
           
          </div>
        </div>
      </nav>
    </aside>
    <div class="container-fluid" ng-view=""></div>

    <!-- build:js scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-ui-ace/ui-ace.js"></script>
    <script src="bower_components/reconnecting-websocket/reconnecting-websocket.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <!-- endbower -->
    <script src="bower_components/angular-table/src/main/webapp/js/lib/angular-table.js"></script>
    <script src="bower_components/less/dist/less-1.5.0.js"></script>
    <script src="bower_components/wearscript-js/wearscript-client.js"></script>
    <script src="bower_components/msgpack-javascript/msgpack.js"></script>
    <script src="bower_components/ace-builds/src-min-noconflict/ace.js"></script>
    <!-- endbuild -->
    <!-- build:js({.tmp,app}) scripts/scripts.js -->
    <script src="scripts/app.js"></script>
    <!--<script src="scripts/controllers/demo.js"></script>-->
    <script src="scripts/controllers/main.js"></script>
    <script src="scripts/controllers/gists.js"></script>
    <script src="scripts/controllers/images.js"></script>
    <script src="scripts/controllers/sensors.js"></script>
    <script src="scripts/controllers/channels.js"></script>
    <script src="scripts/controllers/setup.js"></script>
    <script src="scripts/controllers/help.js"></script>
    <script src="scripts/services/storage.js"></script>
    <script src="scripts/services/socket.js"></script>
    <script src="scripts/services/profile.js"></script>
    <script src="scripts/services/editorservice.js"></script>
    <script src="scripts/controllers/helpmodal.js"></script>
    <script src="scripts/controllers/sidenav.js"></script>
    <!-- endbuild -->
  </body>
</html>
