<!doctype html>
<html data-ng-app="wearscriptPlaygroundApp">
  <head>
    <meta charset="utf-8">
    <title ng-init="title='Wearscript Playground'" ng-bind="title"></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/> <!--320-->
    <link rel="stylesheet" href="styles/main.css">
    <script>
      WSURL = "{{.WSUrl}}";
      GLASS_BODY = '{{.GlassBody}}';
    </script>
  </head>
  <body
    data-ng-class="{'menu-open': profile.menu }"
    data-ng-cloak 
    ng-intro-options="IntroOptions"
    ng-intro-method="CallMe"
    ng-intro-oncomplete="onCompletedEvent"
    ng-intro-onexit="onExitEvent"
    ng-intro-onchange="onChangeEvent"
    ng-intro-onbeforechange="onBeforeChangeEvent"
    ng-intro-onafterchange="onAfterChangeEvent"
    ng-intro-autostart="false"
    ng-controller="TourCtrl">

    <header id="header" data-ng-controller="HeaderCtrl" class="container">
     <!--  <a data-ng-click="profile.toggle('menu')">
         <i class="fa fa-bars"></i>
      </a>

      <div ng-show="location.$$path=='/' || location.$$path.indexOf('gist') != -1" class="status" data-ng-bind="editor.status"></div>
      <a href="" class=" pull-right fa fa-rss"></a>
      <div ng-show="location.$$path=='/' || location.$$path.indexOf('gist') != -1" ng-controller="ModalCtrl">
          <a data-ng-click="open('fileManager')" ><i class="fa fa-file-text"></i></a>
          <a data-ng-click="open('shortcuts')"><i class="fa fa-ellipsis-v"></i></a>
      </div>
      <h1>Wearscript Playground</h1> -->

      <div id="menuLines" class="col-xs-1 col-sm-1 col-md-1 col-lg-1 text-center">
        <a data-ng-click="profile.toggle('menu')">
          <i id="menu-toggle" class="fa fa-bars"></i>
        </a>
      </div>
      <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 col-xs-offset-4 col-sm-offset-4 col-md-offset-4 col-lg-offset-4 text-center">
        <h1 id="pageTitle"><span id="page-title-text"> Wearscript Playground </span></h1>
      </div>

      <div ng-controller="ModalCtrl" class=" col-sm-2 col-md-2 col-lg-2 hidden-xs  pull-right ">
        <ul id="headerIconUl">

          <li ng-show="location.$$path=='/' || location.$$path.indexOf('gist') != -1"><a id="shortcuts-button" data-ng-click="open('shortcuts')"><i class="headerIcon fa fa-ellipsis-v"></i></a></li>
          <li ng-show="location.$$path=='/' || location.$$path.indexOf('gist') != -1"><a id="file-manager" data-ng-click="open('fileManager')" ><i class="headerIcon fa fa-file-text"></i></a></li>
          <li data-ng-controller="ConnectedCtrl">
          <!--<a  data-ng-click="open('connected')" > -->
          <a id="connection-status">
          <span class="badge">
            <i class="headerIcon fa fa-rss" data-ng-class="{success: socket.connected, failed: !socket.connected}"></i>
            <!-- <span data-ng-bind="socket.deviceCount"></span> -->
          </span></a></li>
        </ul>



      </div>

    </header>
    <aside  ng-show="profile.menu" data-ng-controller="MenuCtrl">
      <nav>
        <ul id="tabs">
          <li>
            <a data-hm-tap='active=editor'
               ng-class="{'active': active==editor}"
               href="#/"
               id="editor-tab">Editor</a>
          </li>
          <li>
            <a data-hm-tap='active=gists'
               data-ng-class="{'active': active==gists}"
               href="#/gists"
               id="gists-tab">Gists</a>
          </li>
          <li>
            <a data-hm-tap='active=weariverse'
               data-ng-class="{'active': active==weariverse}"
               href="#/weariverse"
               id="weariverse-tab">Weariverse</a>
          </li>
          <li>
            <a data-hm-tap='active=images'
               data-ng-class="{'active': active==images}"
               href="#/images"
               id="images-tab">Images</a>
          </li>
          <li>
            <a data-hm-tap='active=sensors'
               data-ng-class="{'active': active==sensors}"
               href="#/sensors"
               id="sensors-tab">Sensors</a>
          </li>
          <li>
            <a data-hm-tap='active=channels'
               data-ng-class="{'active': active==channels}"
               href="#/channels"
               id="channels-tab">Channels</a>
          </li>
          <li>
            <a data-hm-tap='active=channels'
               data-ng-class="{'active': active==logging}"
               href="#/logging"
               id="logging-tab">Logging</a>
          </li>
          <!--<li data-ng-show="profile.debug_mode">
            <a data-hm-tap='active=channels'
               data-ng-class="{'active': active==debug}"
               href="#/debug"
               id="debug-tab">Debug</a>
          </li>-->
          <!--<li>
            <a data-hm-tap='active=annotation'
               data-ng-class="{'active': active==annotation}"
               href="#/annotation"
               id="annotation-tab">Annotation</a>
          </li>-->
          <li>
            <a data-ng-click="active=editor;CallMe();"
               data-ng-class="{'active': active==editor}"
               href=""
               id="tour-tab">Tour</a>
          </li>
          <li class="visible-xs" data-ng-controller="ConnectedCtrl"><a data-ng-click="open('connected')"><span class="badge"><i class="headerIcon fa fa-rss" data-ng-class="{success: socket.connected, failed: !socket.connected}"></i><span data-ng-bind="socket.deviceCount"></span></span></a></li>
        </ul>
        <div class="row" id="iconSetArea">
          <div class="col-xs-12">
            <!-- under nav icons -->
            <div class="col-xs-6 text-center" data-ng-controller="ModalCtrl">
              <a id="setup" data-ng-click="open('setup')"><i title="Device Setup"  class="fa fa-cogs fa-2x"></i></a>
            </div>
             <div class="col-xs-6 text-center" data-ng-controller="ModalCtrl">
              <a id="apidocs" href="http://www.wearscript.com/en/latest/" target="_blank" title="Help"><i class="fa fa-question-circle fa-2x"></i></a>
            </div>
          </div>
        </div>
      </nav>
    </aside>
    <div id="main-view" class="container-fluid tab-view" ng-view=""> </div>
    


    <!-- build:js scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-ui-ace/ui-ace.js"></script>
    <script src="bower_components/angular-logging/angular-logging.js"></script>
    <script src="bower_components/reconnecting-websocket/reconnecting-websocket.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="bower_components/hammerjs/hammer.js"></script>
    <script src="bower_components/angular-hammer/angular-hammer.js"></script>
    <script src="bower_components/angular-ui-utils/ui-utils.js"></script>
    <script src="bower_components/intro.js/intro.js"></script>
    <script src="bower_components/angular-intro.js/src/angular-intro.js"></script>
    <script src="bower_components/qrcode/lib/qrcode.js"></script>
    <script src="bower_components/angular-qr/src/angular-qr.js"></script>
    <!-- endbower -->
    <script src="bower_components/angular-table/src/main/webapp/js/lib/angular-table.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/less/dist/less-1.5.0.js"></script>
    <script src="bower_components/wearscript-js/wearscript-client.js"></script>
    <script src="bower_components/msgpack-javascript/msgpack.js"></script>
    <script src="bower_components/ace-builds/src-min-noconflict/ace.js"></script>
    <!-- endbuild -->
    <!-- build:js({.tmp,app}) scripts/scripts.js -->
    <script src="scripts/app.js"></script>
    <script src="scripts/controllers/main.js"></script>
    <script src="scripts/controllers/editor.js"></script>
    <script src="scripts/controllers/gists.js"></script>
    <script src="scripts/controllers/weariverse.js"></script>
    <script src="scripts/controllers/images.js"></script>
    <script src="scripts/controllers/sensors.js"></script>
    <script src="scripts/controllers/channels.js"></script>
    <script src="scripts/controllers/setup.js"></script>
    <script src="scripts/controllers/help.js"></script>
    <script src="scripts/controllers/modal.js"></script>
    <script src="scripts/controllers/annotation.js"></script>
    <script src="scripts/controllers/logging.js"></script>
    <script src="scripts/controllers/header.js"></script>
    <script src="scripts/controllers/debug.js"></script>
    <script src="scripts/controllers/menu.js"></script>
    <script src="scripts/services/storage.js"></script>
    <script src="scripts/services/socket.js"></script>
    <script src="scripts/services/editor.js"></script>
    <script src="scripts/services/storage.js"></script>
    <script src="scripts/services/profile.js"></script>
    <script src="scripts/services/playground.js"></script>
    <script src="scripts/controllers/filemanager.js"></script>
    <script src="scripts/services/gist.js"></script>
    <script src="scripts/controllers/connected.js"></script>
    <script src="scripts/controllers/tour.js"></script>
    <!-- endbuild -->
  </body>
</html>
