
  <div data-ng-controller="SetupCtrl" class="modal-body">

  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      Don't know where to start?
       <a data-ng-click="active=editor;CallMe();"
               data-ng-class="{'active': active==editor}"
               href=""
               id="tour-tab"><button type="button" class="btn btn-default">Run The Tour</button></a>
      
    </div>
  </div>
  <hr />
   <div class="row">
     <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
       View our api and project documentation
       <a id="apidocs" href="http://www.wearscript.com/en/latest/" target="_blank" title="Help"><button type="button" class="btn btn-default">API</button></a>
       
     </div>
   </div>
  </div>
  