
        <div class="modal-body">
            <table class="table table-bordered table-condensed">
              <thead>
                <tr data-ng-click="">
                    <th> Description </th>
                    <th> Key Command </th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="shortcut in shortcuts"><td>{{ shortcut.description }}</td><td>{{ shortcut.command }}</td><tr>
                <!--tr><td>Run Script</td><td>Ctrl+Enter (Cmd+Enter for OSX)</td></tr>
                <tr><td>Run Line/Selection</td><td>Alt+Enter</td></tr>
                <tr><td>Save to Gist</td><td>Ctrl+S</td></tr-->
              </tbody>
            </table>
        </div>
      