<div class="modal-container" ng-controller="ModalCtrl">
    <div class="modal-header text-center">
        <h3>Editor Settings</h3>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
                <div class="row">
                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-center">
                        <button type="button" data-ng-click="saveToGist()" class="btn btn-default">Save to Gist &nbsp;<i class="fa fa-github-square"></i>
                        </button>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-center">
                        <button type="button" data-ng-click="saveToGlass()" class="btn btn-default">Save to Glass &nbsp; <i class="fa fa-rocket"></i>
                        </button>
                    </div>
                </div>
            </div>
            <hr />
        </div>
        <hr />
        <div class="row">
          <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-center">
            <p>Editor Theme</p>
            <select class="btn btn-default">
              <option value="monokai">Monokai</option>
              <option value="amy">Amy</option>
              <option value="carbonite">Carbonite</option>
              <option value="Vader">Vader</option>
            </select>
          </div>
          <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-center">
            <p>Vim Mode</p>
            <input data-ng-controller="EditorCtrl" type="checkbox" ng-model="vimval" ng-change="vimMode()">
          </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
                
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="ok()">OK</button>
        <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
    </div>
</div>
