<table at-table class="table table-bordered table-condensed" ng-show="nameList.length > 0">
  <!-- the header will automatically be created according to the body definition. -->
  <thead>
    <tr>
      <td>Device</td>
      <td>Channels</td>
    </tr>
  </thead>
  <tbody>
    <tr data-ng-repeat="data in nameList">
      <!-- for each item in list a cell will be rendered, containing the value in attribute. -->
      <td>{{data.device}}</td>
      <td>{{data.channels}}</td>
    </tr>
  </tbody>
</table>
<div ng-show="nameList.length < 1">
No channels registered
</div>
