<!-- TODO: add functionality to  the sorting arrows depending on the RFC on github issue #22 -->
<table id="debugTable" at-table class="table table-hover table-bordered table-condensed">
	<thead>
		<tr>
			<th>Type <i class="pull-right fa fa-arrows-v"></i></th>
			<th>Time <i class="pull-right fa fa-arrows-v"></i></th>
			<th>Description <i class="pull-right fa fa-arrows-v"></i></th>
		</tr>
	</thead>
	<tbody>
		<tr data-ng-repeat="bug in debug" >
			<td class="log-{{bug.type}}">{{bug.type}}</td>
      		<td>{{bug.time}}</td>
      		<td>{{bug.message}}</td>
		</tr>
	</tbody>
</table>
