<table at-table list="nameList" class="table table-bordered table-condensed">
  <!-- the header will automatically be created according to the body definition. -->
  <thead>
    <tr>
      <td>Gist Description</td>
      <td>Last Updated</td>
      <td>Gist User</td>
    </tr>
  </thead>
  <tbody>
    <tr data-ng-repeat="gist in gists">
      <!-- for each item in list a cell will be rendered, containing the value in attribute. -->
      <td>
        <a
          href="{{gist.url_playground}}"
          ng-bind="gist.description"
        >
        </a>
      </td>
      <td
        ng-bind="gist.updated_at | date:'medium'"
      >
      </td>
      <td>
        <a
          href="{{gist.user.html_url}}"
          ng-bind="gist.user.login"
        >
        </a>
      </td>
    </tr>
  </tbody>
</table>
