<!-- TODO: add functionality to  the sorting arrows depending on the RFC on github issue #22 -->
<table id="loggingTable" at-table class="table table-hover table-bordered table-condensed">
	<thead>
		<tr>
			<th>Type <i class="pull-right fa fa-arrows-v"></i></th>
      <!--<th>Time <i class="pull-right fa fa-arrows-v"></i></th>-->
      <th>Description <i class="pull-right fa fa-arrows-v"></i></th>
		</tr>
	</thead>
	<tbody>
  <tr data-ng-repeat="log in logs" data-ng-show="log.type = 'log'">
			<td class="log-{{log.type}}" >{{log.type}}</td>
      <td>{{log.message}}</td>
      <!--<td>{{log.message}}</td>-->
		</tr>
	</tbody>
</table>
