<div ng-repeat="(channel, samples) in sensors">
  <h2>{{channel}}</h2>
  <table at-table class="table table-bordered table-condensed">
    <!-- the header will automatically be created according to the body definition. -->
    <thead>
      <tr>
        <td>Name</td>
        <td>Value</td>
        <td>Time</td>
      </tr>
    </thead>
    <tbody>
      <tr data-ng-repeat="(name, data) in samples.sensors">
        <!-- for each item in list a cell will be rendered, containing the value in attribute. -->
        <td>{{name}}</td>
        <td>{{data[0]}}</td>
        <td>{{data[1]}}</td>
      </tr>
    </tbody>
  </table>
</div>
<div class="ccontainer">
  <div class="cube" data-ng-style="cubeMatrixStyle">
    <figure class="front">1</figure>
    <figure class="back">2</figure>
    <figure class="right">3</figure>
    <figure class="left">4</figure>
    <figure class="top">5</figure>
    <figure class="bottom">6</figure>
  </div>
</div>
