<div ng-repeat="(channel, samples) in sensors">
  <h2>{{channel}}</h2>
  <table at-table class="table table-bordered table-condensed">
    <!-- the header will automatically be created according to the body definition. -->
    <thead>
      <tr>
        <td>Name</td>
        <td>Value</td>
        <td>Time</td>
      </tr>
    </thead>
    <tbody>
      <tr data-ng-repeat="(name, data) in samples">
        <!-- for each item in list a cell will be rendered, containing the value in attribute. -->
        <td>{{name}}</td>
        <td>{{data[0]}}</td>
        <td>{{data[1]}}</td>
      </tr>
    </tbody>
  </table>
</div>
