<!DOCTYPE html>
<html>
<body ng-app="main">
    <div ng-controller="SetupCtrl">
      <div class="text-center">
        <p>
          Auth with
          <br>
          <a href="authgh" class="btn btn-primary"> Github </a>
          or
          <a href="auth" class="btn btn-primary"> Google </a>
        </p>
        <hr>
        <button ng-click="qr()" class="btn btn-primary btn-lrg"> Generate QR Code </button>
        <p>
          <pre>{{adb}}</pre>
        </p>
        <div>
          <img ng-src="{{qrurl}}" />
        </div>
        <div>
          User Settings
          <br>
          <input type="checkbox" ng-model="vimval" ng-change="vimMode()">
          Vim Mode
        </div>
      </div>
    </div>
</body>
</html>
